$dark-clr: #000;
$light-clr: #fff;
body {
    table {
        tr {

            th,
            td {
                border: 1px solid $dark-clr !important;
                padding: 1rem;
            }
        }
    }

    // button {
    //     padding: 0.5rem 1rem;
    //     border-radius: 10px;
    //     border: 1px solid;
    // }
}